.homeBackground {
    background: url("../assets/images/iko.png");
    background-repeat: no-repeat;
    position: absolute;
    top: 1;
    width: 100%;
    height: 100%;
    background-size: cover;
  }

.mainTitle {
    font-size: 70px;
    color: rgb(80, 80, 80);
    font-weight: 500;
    text-align: center;
    font-family: 'Oswald', sans-serif;   
}

.title {
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}
   
a:link {
    color: rgb(69, 70, 70);
}       
a:visited {
    color: rgb(122, 123, 124);
}
a:hover {
    color: rgb(135, 166, 233);
}
a:active {
    color: rgb(233, 169, 230);
}

@media only screen and (max-width: 1000px) {
    
    .homeBackground {
        background: url("../assets/images/ikosm4\ copy.png");
        background-repeat: no-repeat;
        position: absolute;
        top: 1;
        width: 100%;
        height: 100%;
        background-size: cover;
      }

      .mainTitle {
        font-size: 65px;
        color: rgb(80, 80, 80);
        font-weight: 500;
        text-align: center;
        font-family: 'Oswald', sans-serif;   
    }

    .title {
        font-size: 24px;
        font-family: 'Montserrat', sans-serif;
        text-align: center;
    }    
}