.portBackground {
    background: url("../assets/images/desk3.png");
    background-repeat: no-repeat;
    position: absolute;
    top: 1;
    width: 100%;
    height: 100%;
    background-size: cover;
}

h1 {
    font-size: 55px;
    color: rgb(80, 80, 80);
    font-weight: 500;
    text-align: center;
    font-family: 'Oswald', sans-serif;   
}

.porticons {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

.card-deck {
    margin: 50px;
    width: 50%;
}

.card {
    box-shadow: 1px 2px 2px 0px rgb(120, 120, 120); 
}

.row {
    justify-content: center;
}
 
a:link {
    color: rgb(72, 72, 73);
}       
a:visited {
    color: rgb(163, 163, 163);
}
a:hover {
    color: rgb(135, 166, 233);
}
a:active {
    color: rgb(230, 132, 225);
}

@media screen and (max-width: 1000px) {
    
    .portBackground {
        background: url("../assets/images/desk4.png");
        background-repeat: no-repeat;
        position: absolute;
        top: 1;
        width: 100%;
        height: 100%;
        background-size: cover;
    }
    
    
    h5 {
        font-size: 17px;
        text-align: center;
        font-family: 'Oswald', sans-serif;   
    }

    h1 {
        font-size: 55px;
        font-weight: 500;
        color: rgb(80, 80, 80);
        text-align: center;
        font-family: 'Oswald', sans-serif;   
    }

    }